services:
  browsertests:
    image: brianjbayer/samplecsharpxunitselenium:${BROWSERTESTS_TAG:-latest}
    container_name: ${BROWSERTESTS_HOSTNAME:-browsertests}
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT:-unused}
      - LOGIN_USERNAME
      - LOGIN_PASSWORD
